html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}

p {
  color: #000;
  font-style: italic;
  font-size: 2rem;
}

.banner {
  position: relative;
}
.img-flex {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}
